# Example environment variables (DO NOT COMMIT real secrets)

# Database
SPRING_DATASOURCE_URL="jdbc:mysql://localhost:3306/ssafy-mysql-db"
SPRING_DATASOURCE_USERNAME="S13P11B107"
SPRING_DATASOURCE_PASSWORD=

# JWT
SPRING_JWT_TOKEN=

# OAuth
SPRING_KAKAO_CLIENT_ID=
SPRING_KAKAO_CLIENT_SECRET=
SPRING_KAKAO_REDIRECT_URI="https://api.promisenow.store/oauth2/authorization/kakao"

# Docker / MySQL
MYSQL_ROOT_PASSWORD=
MYSQL_USER="S13P11B107"
MYSQL_PASSWORD=

# Redis
SPRING_REDIS_HOST="localhost"
SPRING_REDIS_PORT=6379
SPRING_REDIS_PASSWORD=

# Webhook
WEBHOOK_SLACK_URL=

# Frontend Redirect
SPRING_FRONT_REDIRECT_URI="https://promisenow.store"

